{% extends "partials/base.html" %}
{% load static%}

{% block content %}
		<div class="header">
				<video id="animate-video" class="header-bg-video" autoplay muted loop >
					<source src="/static/assets/flyUav-video.mp4" type="video/mp4" sizes="100%" />
				  </video>
				  <div class="kabiliyetlerimiz-text-container">
					<h2 id="animate_h2" class="animate__animated animate__fadeInLeft">
						FLY UAV
					</h2>
					<p id="animate_p" class="animate__animated animate__fadeInUp">
						Lorem Ipsum, dizgi ve baskı endüstrisinde kullanılan mıgır metinlerdir. Lorem Ipsum, adı bilinmeyen bir matbaacının bir hurufat numune kitabı oluşturmak üzere bir yazı galerisini alarak karıştırdığı 1500'lerden beri endüstri standardı sahte metinler olarak kullanılmıştır. Beşyüz yıl boyunca varlığını sürdürmekle kalmamış, aynı zamanda pek değişmeden elektronik dizgiye de sıçramıştır. 1960'larda Lorem Ipsum pasajları da içeren Letraset yapraklarının yayınlanması ile ve yakın zamanda Aldus PageMaker gibi Lorem Ipsum sürümleri içeren masaüstü yayıncılık yazılımları ile popüler olmuştur.
					</p>
				  </div>
			</div>
		</div>
  <section>
	{% csrf_token %}
	<div class="container py-5 mt-4">
	  <div class="row" id="iha_list">
	  </div>
	  <form class="form">
		<label for="01">One</label>
		<input id="01" type="radio" name="r" value="1" checked="">
		<label for="02">Two</label>
		<input id="02" type="radio" name="r" value="2">
		<label for="03">Three</label>
		<input id="03" type="radio" name="r" value="3">
	</form>
	</div>
  </section>
  {% endblock %}

  {% block extra_script %}
	<script>
		
		async function getIhaList(){
			var iha_div=document.getElementById('iha_list')
			iha_div.innerHTML=""
			await fetch('http://127.0.0.1:8000/api/iha/').then(data=>data.json()).then(data=>{
				for(var i of data){
					iha_div.innerHTML+=`
					<div class="col-md-12 col-lg-4 mb-4 mb-lg-0" id="rent">
						<div class="card" style="height:500px" >
						  <div class="d-flex justify-content-between p-3">
							<p class="lead mb-0">Bugünün Fırsatı !</p>
				
						  </div>
						  <img src="${i.image}"
							class="card-img-top" alt="Laptop" style="height:500px" />
						  <div class="card-body">
							<div class="d-flex justify-content-between">
							  <p class="small"><a href="#!" class="text-muted">${i.category?i.category.name:''}</a></p>
							  <p class="small text-danger"><s></s></p>
							</div>
				
							<div class="d-flex justify-content-between mb-3">
							  <h5 class="mb-0">${i.brand?i.brand.name:''}</h5>
							  <h5 class="text-dark mb-0">${i.model?i.model.name:''}</h5>
							  <h5 class="text-dark mb-0">${i.date?i.date:''}</h5>
							</div>
				
							<div class="d-flex justify-content-between mb-2">
							  <p class="text-muted mb-0">Fiyat: <span class="fw-bold">${i.model?i.weight:''}₺</span></p>
							</div>
							<div>
								 <button class="btn btn-primary">Güncelle</button> 
							  </div>
							  <div>
								<button onclick="deleteIha('${i.id}')" class="btn btn-danger">Sil</button> 
							 </div>
						  </div>
						</div>
					  </div>`
				}
			})
		}
		async function deleteIha(id){
			await fetch(`http://127.0.0.1:8000/api/iha/${id}/`,
              {method:'DELETE',headers:{'X-CSRFToken':document.querySelector('input[name="csrfmiddlewaretoken"]').value}})
			  .then(res=>getIhaList())
            
		}
		getIhaList()
	</script>
	{% endblock %}