{% load static%}
<html>
	<head>
		<link rel="stylesheet" href="{%static 'style/main.css'%}">
		<link rel="stylesheet" href="{%static 'style/bootstrap.css'%}">
		<link rel="stylesheet" href="{%static 'style/bootstrap.min.css'%}">

	</head>
	<body>

    <!-- Navbar -->
	<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
	<!-- Container wrapper -->
	<div class="container ">
	  <button class="navbar-toggler" type="button" data-mdb-toggle="collapse" data-mdb-target="#navbarSupportedContent"
		aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
		<i class="fas fa-bars"></i>
	  </button>
	  <ul class="navbar-nav me-auto mb-2 mb-lg-0">
		<li class="nav-item mx-2">
		  <a class="nav-link" href="#populer">POPÜLER ÜRÜNLER </a>
		</li>
		<li class="nav-item mx-2">
		  <a class="nav-link" href="#markalar">MARKALAR</a>
		</li>
		<li class="nav-item mx-2">
		  <a class="nav-link" href="#super">TEKLİFLER</a>
		</li>
	  </ul>
  
	  <ul class="navbar-nav ms-3">
		<li class="nav-item">
		  <a class="nav-link d-flex align-items-center me-3" style="width: 120px;">
			<i class="bi bi-person-add pe-2 text-white" routerLink="/home-register">&nbsp;KAYIT OL</i>
		  </a>
		</li>
	  </ul>
	</div>
  </nav>
  <!-- Navbar End -->

  <section>
	<div class="container py-5 mt-4">
	  <div class="row">
		<h2 class="mb-4">Süper Fiyat, Süper Teklif</h2>
		<div class="col-md-12 col-lg-4 mb-4 mb-lg-0">
		  <div class="card">
			<div class="d-flex justify-content-between p-3">
			  <p class="lead mb-0">Bugünün Fırsatı !</p>
  
			</div>
			<img src="https://mir-s3-cdn-cf.behance.net/project_modules/1400_opt_1/690dc0123582253.6285f0294bd03.jpg"
			  class="card-img-top" alt="Laptop" />
			<div class="card-body">
			  <div class="d-flex justify-content-between">
				<p class="small"><a href="#!" class="text-muted">SİHA</a></p>
				<p class="small text-danger"><s>$1099</s></p>
			  </div>
  
			  <div class="d-flex justify-content-between mb-3">
				<h5 class="mb-0">Bayraktar Akıncı</h5>
				<h5 class="text-dark mb-0">$999</h5>
			  </div>
  
			  <div class="d-flex justify-content-between mb-2">
				<p class="text-muted mb-0">Available: <span class="fw-bold">6</span></p>
				<div class="ms-auto text-warning">
				  <i class="fa fa-star"></i>
				  <i class="fa fa-star"></i>
				  <i class="fa fa-star"></i>
				  <i class="fa fa-star"></i>
				  <i class="fa fa-star"></i>
				</div>
			  </div>
			</div>
		  </div>
		</div>
		<div class="col-md-12 col-lg-4 mb-4 mb-lg-0">
		  <div class="card">
			<div class="d-flex justify-content-between p-3">
			  <p class="lead mb-0">Bugünün Fırsatı !</p>
  
			</div>
			<img
			  src="https://www.timeturk.com/resim/detay/172/1729187.jpg"
			  class="card-img-top" alt="Laptop" />
			<div class="card-body">
			  <div class="d-flex justify-content-between">
				<p class="small"><a href="#!" class="text-muted">İHA</a></p>
				<p class="small text-danger"><s>$1099</s></p>
			  </div>
  
			  <div class="d-flex justify-content-between mb-3">
				<h5 class="mb-0">Bayraktar TB2</h5>
				<h5 class="text-dark mb-0">$999</h5>
			  </div>
  
			  <div class="d-flex justify-content-between mb-2">
				<p class="text-muted mb-0">Available: <span class="fw-bold">6</span></p>
				<div class="ms-auto text-warning">
				  <i class="fa fa-star"></i>
				  <i class="fa fa-star"></i>
				  <i class="fa fa-star"></i>
				  <i class="fa fa-star"></i>
				  <i class="fa fa-star"></i>
				</div>
			  </div>
			</div>
		  </div>
		</div>
		<div class="col-md-12 col-lg-4 mb-4 mb-lg-0">
		  <div class="card">
			<div class="d-flex justify-content-between p-3">
			  <p class="lead mb-0">Bugünün Fırsatı !</p>
  
			</div>
			<img src="https://trthaberstatic.cdn.wp.trt.com.tr/resimler/1958000/kizilelma-paylasimi-1959438.jpg" class="card-img-top"
			  alt="Laptop" />
			<div class="card-body">
			  <div class="d-flex justify-content-between">
				<p class="small"><a href="#!" class="text-muted">MIUS</a></p>
				<p class="small text-danger"><s>$1099</s></p>
			  </div>
  
			  <div class="d-flex justify-content-between mb-3">
				<h5 class="mb-0">Bayraktar Kızılelma</h5>
				<h5 class="text-dark mb-0">$999</h5>
			  </div>
  
			  <div class="d-flex justify-content-between mb-2">
				<p class="text-muted mb-0">Available: <span class="fw-bold">5</span></p>
				<div class="ms-auto text-warning">
				  <i class="fa fa-star"></i>
				  <i class="fa fa-star"></i>
				  <i class="fa fa-star"></i>
				  <i class="fa fa-star"></i>
  
				</div>
			  </div>
			</div>
		  </div>
		</div>
	  </div>
	  <form class="form">
		<label for="01">One</label>
		<input id="01" type="radio" name="r" value="1" checked="">
		<label for="02">Two</label>
		<input id="02" type="radio" name="r" value="2">
		<label for="03">Three</label>
		<input id="03" type="radio" name="r" value="3">
	</form>
	</div>

  </section>
  
    
	</body>
</html>