{% load static%}
<html>
	<head>
		<link rel="stylesheet" href="{%static 'style/main.css'%}">
		<link rel="stylesheet" href="{%static 'style/bootstrap.css'%}">
		<link rel="stylesheet" href="{%static 'style/bootstrap.min.css'%}">

	</head>
	<body>
 <footer style="width: 100%;">
    <div class="footer-container">
        <div class="footer-logo">
            <a >
                <img class="footer-image-item" src="{{ site_settings.footer_logo_url }}" alt=""/>
                  
            </a>
        </div>
        <div class="footer-text-container">
            <p>
                © Copyright 2023 Emircan Omak. All rights reserved.

                <a
                   style="color: inherit">
                </a>
            </p>
        </div>
    </div>
</footer>
        
	</body>
</html>