{% load static%}
<html>
	<head>

	</head>
	<body>
	<nav>
		<div class="navbar-container">
		  <div class="logo">
		  </div>
		  <div class="link-container">
			<div class="header-link">
			  <ul class="header-link">
				<a href="/home/"> <li class="link-item">ANASAYFA</li></a>
				<a href="#rent">
				  <li class="link-item">HEMEN KİRALA </li>
				</a>
				<a href="/addUav/"> <li class="link-item">İLAN VER</li></a>
				<a href="/logout" onclick="log"> <li class="link-item">ÇIKIŞ YAP</li></a>
				<a href="/logout" onclick="log"> <li class="link-item">{% if user.is_authenticated %}
					<p>Hoşgeldin {{ user.username|upper}}!</p>
					
					{% endif %}</li></a>

			  </ul>
			</div>
	  </nav>
	
	</body>
</html>