{% load static%}

<html>
	<head>
		<link rel="stylesheet" href="{%static 'style/auth.css'%}">
		<link rel="stylesheet" href="{%static 'style/bootstrap.css'%}">
		<link rel="stylesheet" href="{%static 'style/bootstrap.min.css'%}">

	</head>
	<body>
		<!-- Section: Design Block -->
		<section class="vh-100">
			<div class="container-fluid h-custom">
			  <div class="row d-flex justify-content-center align-items-center h-100">
				<div class="col-md-9 col-lg-6 col-xl-5">
				  <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/draw2.webp"
					class="img-fluid" alt="Sample image">
				</div>
				<div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
				  <form>  
					<!-- Email input -->
					<div class="form-outline mb-4">
					  <input type="email" id="form3Example3" class="form-control form-control-lg"
						placeholder="Enter a valid email address" />
					  <label class="form-label" for="form3Example3">Email address</label>
					</div>

                    <!-- Name input -->
                    <div class="form-outline mb-4">
                        <input type="text" id="form3Example3" class="form-control form-control-lg"
                          placeholder="Enter a valid email address" />
                        <label class="form-label" for="form3Example3">Name</label>
                      </div>

                      <!-- Surname input -->
                      <div class="form-outline mb-4">
                        <input type="text" id="form3Example3" class="form-control form-control-lg"
                          placeholder="Enter a valid email address" />
                        <label class="form-label" for="form3Example3">SurName</label>
                      </div>
		  
					<!-- Password input -->
					<div class="form-outline mb-3">
					  <input type="password" id="form3Example4" class="form-control form-control-lg"
						placeholder="Enter password" />
					  <label class="form-label" for="form3Example4">Password</label>
					</div>
		  
					<div class="d-flex justify-content-between align-items-center">
					  <!-- Checkbox -->
					  <div class="form-check mb-0">
						<input class="form-check-input me-2" type="checkbox" value="" id="form2Example3" />
						<label class="form-check-label" for="form2Example3">
						  Remember me
						</label>
					  </div>
					  <a href="#!" class="text-body">Forgot password?</a>
					</div>
		  
					<div class="text-center text-lg-start mt-4 pt-2">
						<button>
							<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24"><path fill="none" d="M0 0h24v24H0z"></path><path fill="currentColor" d="M5 13c0-5.088 2.903-9.436 7-11.182C16.097 3.564 19 7.912 19 13c0 .823-.076 1.626-.22 2.403l1.94 1.832a.5.5 0 0 1 .095.603l-2.495 4.575a.5.5 0 0 1-.793.114l-2.234-2.234a1 1 0 0 0-.707-.293H9.414a1 1 0 0 0-.707.293l-2.234 2.234a.5.5 0 0 1-.793-.114l-2.495-4.575a.5.5 0 0 1 .095-.603l1.94-1.832C5.077 14.626 5 13.823 5 13zm1.476 6.696l.817-.817A3 3 0 0 1 9.414 18h5.172a3 3 0 0 1 2.121.879l.817.817.982-1.8-1.1-1.04a2 2 0 0 1-.593-1.82c.124-.664.187-1.345.187-2.036 0-3.87-1.995-7.3-5-8.96C8.995 5.7 7 9.13 7 13c0 .691.063 1.372.187 2.037a2 2 0 0 1-.593 1.82l-1.1 1.039.982 1.8zM12 13a2 2 0 1 1 0-4 2 2 0 0 1 0 4z"></path></svg>
							<span>Gönder</span>
						  </button>
					</div>
		  
				  </form>
				</div>
			  </div>
			</div>
			<div
			  class="d-flex flex-column flex-md-row text-center text-md-start justify-content-between py-4 px-4 px-xl-5 bg-primary">
			  <!-- Copyright -->
			  <div class="text-white mb-3 mb-md-0">
				Copyright © 2020. All rights reserved.
			  </div>
			  <!-- Copyright -->
		  
			  <!-- Right -->
			  <div>
				<a href="#!" class="text-white me-4">
				  <i class="fab fa-facebook-f"></i>
				</a>
				<a href="#!" class="text-white me-4">
				  <i class="fab fa-twitter"></i>
				</a>
				<a href="#!" class="text-white me-4">
				  <i class="fab fa-google"></i>
				</a>
				<a href="#!" class="text-white">
				  <i class="fab fa-linkedin-in"></i>
				</a>
			  </div>
			  <!-- Right -->
			</div>
		  </section>
  <!-- Section: Design Block -->
	</body>
</html>