/* Home */
/* Header */
.header {
  width: 100%;
  position: relative;
}

.header-bg-video {
  width: 100%;
  position: relative;
}
.kabiliyetlerimiz-text-container {
  height: auto;
  width: auto;
  position: absolute;
  padding-left: 100px;
  bottom: 120px;
  color: #fff;
  font-family: "Poppins", sans-serif;
}
.kabiliyetlerimiz-text-container h2 {
  font-size: 90px;
  font-weight: 400;
  color: #fff;
}
.kabiliyetlerimiz-text-container p {
  font-size: 15px;
  font-weight: 300;
  max-width: 580px;
  text-align: justify;
  margin-top: 13px;
}
.kabiliyetlerimiz-text-container h3 {
  font-size: 24px;
  font-weight: 300;
}
@media (max-width: 1024px) {
  .kabiliyetlerimiz-text-container {
    position: absolute;
    padding-left: 70px;
    bottom: 80px;
  }
  .kabiliyetlerimiz-text-container h2 {
    font-size: 50px;
    font-weight: 400;
    color: #fff;
  }
  .kabiliyetlerimiz-text-container p {
    font-size: 12px;
    font-weight: 300;
    max-width: 350px;
    margin-top: 11px;
  }
  .kabiliyetlerimiz-text-container h3 {
    font-size: 24px;
    font-weight: 200;
  }
}
@media (max-width: 768px) {
  .kabiliyetlerimiz-text-container {
    position: absolute;
    padding-left: 60px;
    bottom: 80px;
  }
  .kabiliyetlerimiz-text-container h2 {
    font-size: 45px;
    font-weight: 400;
    color: #fff;
  }
  .kabiliyetlerimiz-text-container h3 {
    font-size: 18px;
    font-weight: 300;
  }
  .kabiliyetlerimiz-text-container p {
    font-size: 12px;
    font-weight: 300;
    max-width: 250px;
    margin-top: 10px;
  }
}
@media (max-width: 640px) {
  .kabiliyetlerimiz-text-container {
    position: absolute;
    padding-left: 10px;
    bottom: 20px;
  }
  .kabiliyetlerimiz-text-container h2 {
    font-size: 25px;
    font-weight: 400;
    color: #fff;
  }
  .kabiliyetlerimiz-text-container h3 {
    font-size: 15px;
    font-weight: 300;
  }
  .kabiliyetlerimiz-text-container p {
    font-size: 10px;
    font-weight: 300;
    max-width: 200px;
    margin-top: 8px;
  }
}
/* === removing default button style ===*/
.button {
  margin: 0;
  height: auto;
  background: transparent;
  padding: 0;
  border: none;
}

/* button styling */
.button {
  --border-right: 6px;
  --text-stroke-color: rgba(255,255,255,0.6);
  --animation-color: #132143;
  --fs-size: 2em;
  letter-spacing: 3px;
  text-decoration: none;
  font-size: var(--fs-size);
  font-family: "Arial";
  position: relative;
  text-transform: uppercase;
  color: transparent;
  -webkit-text-stroke: 1px var(--text-stroke-color);
}
/* this is the text, when you hover on button */
.hover-text {
  position: absolute;
  box-sizing: border-box;
  content: attr(data-text);
  color: var(--animation-color);
  width: 0%;
  inset: 0;
  border-right: var(--border-right) solid var(--animation-color);
  overflow: hidden;
  transition: 0.5s;
  -webkit-text-stroke: 1px var(--animation-color);
}
/* hover */
.button:hover .hover-text {
  width: 100%;
  filter: drop-shadow(0 0 23px var(--animation-color))
}
/* Header End */

/* Sidebar Filter */
.form {
  --background: #ffffff;
  --text: #414856;
  --radio: #7C96B2;
  --radio-checked: #4F29F0;
  --radio-size: 20px;
  --width: 150px;
  --height: 140px;
  --border-radius: 10px;
  background: var(--background);
  width: var(--width);
  height: var(--height);
  border-radius: var(--border-radius);
  color: var(--text);
  position: relative;
  box-shadow: 0 10px 30px rgba(65, 72, 86, 0.05);
  padding: 30px 20px;
  display: grid;
  grid-template-columns: auto var(--radio-size);
  align-items: center;
}

.form label {
  cursor: pointer;
}
.form input[type="radio"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  position: relative;
  height: var(--radio-size);
  width: var(--radio-size);
  outline: none;
  margin: 0;
  cursor: pointer;
  border: 2px solid var(--radio);
  background: transparent;
  border-radius: 50%;
  display: grid;
  justify-self: end;
  justify-items: center;
  align-items: center;
  overflow: hidden;
  transition: border .5s ease;
}

.form input[type="radio"]::before, .form input[type="radio"]::after {
  content: "";
  display: flex;
  justify-self: center;
  border-radius: 50%;
}

.form input[type="radio"]::before {
  position: absolute;
  width: 100%;
  height: 100%;
  background: var(--background);
  z-index: 1;
  opacity: var(--opacity, 1);
}

.form input[type="radio"]::after {
  position: relative;
  width: calc(100% /2);
  height: calc(100% /2);
  background: var(--radio-checked);
  top: var(--y, 100%);
  transition: top 0.5s cubic-bezier(0.48, 1.97, 0.5, 0.63);
}

.form input[type="radio"]:checked {
  --radio: var(--radio-checked);
}

.form input[type="radio"]:checked::after {
  --y: 0%;
  animation: stretch-animate .3s ease-out .17s;
}

.form input[type="radio"]:checked::before {
  --opacity: 0;
}

.form input[type="radio"]:checked ~ input[type="radio"]::after {
  --y: -100%;
}

.form input[type="radio"]:not(:checked)::before {
  --opacity: 1;
  transition: opacity 0s linear .5s;
}

@keyframes stretch-animate {
  0% {
    transform: scale(1, 1);
  }

  28% {
    transform: scale(1.15, 0.85);
  }

  50% {
    transform: scale(0.9, 1.1);
  }

  100% {
    transform: scale(1, 1);
  }
}

.socials {
  position: fixed;
  display: block;
  left: 20px;
  bottom: 20px;
}

.socials > a {
  display: block;
  width: 30px;
  opacity: .2;
  transform: scale(var(--scale, 0.8));
  transition: transform 0.3s cubic-bezier(0.38, -0.12, 0.24, 1.91);
}

.socials > a:hover {
  --scale: 1;
}
  /* Sidebar Filter End */
  
/* Home End */

